# Ignore log directories and files
logs/
*.log

# Ignore virtual environment
venv/
.env

# Ignore data, cache, and other large or generated directories
.cache/
data/
report/
SEC_SECTION_CACHE/
node_modules/
*.bak
*.json.bak.json

# Ignore OS & editor artifacts
.DS_Store
Thumbs.db
*.pyc
__pycache__/